.container-button {
    display: flex;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 4px;

    background-color: #1890FF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #1861ff;
}